<div *ngIf="true" style="background-color:#D4D4D4; display: flex;" >
  <app-nav-bar *ngIf="true" ></app-nav-bar>

  <div style="background-color: #D4D4D4;color: #D4D4D4;">
    <div style="border:1px solid white;margin:20px;background-color: white;;border-radius: 10px"  >
      <div style="display: flex;margin:5px">


        <div style="margin-right: 20px;">
          <div class="font item-filter">
            <div class="dropdown"  style="background-color: transparent;">
              <button class="btn btn-secondary dropdown-toggle font"  style="border: 1px solid #ED7180;background-color: transparent;color: black ;  font-weight: bold;" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Año
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button *ngFor="let anio of anios" (click)="seleccionAnios(anio)"  style="color: black ;  font-weight: bold;" class="dropdown-item" type="button">{{anio}}</button>
              </div>
            </div>
          </div>
          <input  style="border-bottom: 1px solid gray;color: black;width: 85px;" disabled="true" class="input-control font"  [(ngModel)]="anio">
        </div>

        <div style="margin-right: 20px;">
          <div class="font item-filter">
            <div class="dropdown"  style="background-color: transparent;">
              <button class="btn btn-secondary dropdown-toggle font"  style="border: 1px solid #ED7180;background-color: transparent;color: black ;  font-weight: bold;" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mes
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button *ngFor="let mes of meses" (click)="seleccionMes(mes)"  style="color: black ;  font-weight: bold;" class="dropdown-item" type="button">{{mes}}</button>
              </div>
            </div>
          </div>
          <input  style="border-bottom: 1px solid gray;color: black;width: 85px;" disabled="true" class="input-control font"  [(ngModel)]="mes">
        </div>



        <div>
          <div class="font item-filter">
            <div class="dropdown"  style="background-color: transparent;">
              <button class="btn btn-secondary dropdown-toggle font"  style="border: 1px solid #ED7180;background-color: transparent;color: black ;  font-weight: bold;" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{getNombreEcografista()}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button *ngFor="let ecografista of ecografistas " (click)="seleccionEcorafista(ecografista)"  style="color: black ;  font-weight: bold;" class="dropdown-item" type="button">{{ecografista}}</button>
              </div>
            </div>
          </div>
          <input  style="border-bottom: 1px solid gray;;color: black;" disabled="true" class="input-control font"  [(ngModel)]="ecografista">
        </div>



        <div style="display: flex;align-items: center;    margin: 0 5px;">
          <button type="button" class="btn btn-primary" style="background-color: transparent;border: 1px solid #ED7180;color: #191919;height: 44px;font-weight :bold ;" (click)="generarReportes()">Filtrar</button>
        </div>


      </div>
    </div>



    <div>

      <div class="report-summary">
        <h2 class="report-summary-title">Reporte {{ mesParaMuestra }}</h2>
        <div class="report-stats">
          <div class="stat-card">
            <span class="stat-label">Cantidad ecografías</span>
            <span class="stat-value">{{ formatearNumero(getCantidadTotal(1), 0) }}</span>
          </div>
          <div class="stat-card stat-card-accent">
            <span class="stat-label">Horas extra</span>
            <span class="stat-value">{{ formatearNumero(contadorEcografiasEnHorasExtra, 0) }}</span>
          </div>
          <div class="stat-card">
            <span class="stat-label">Porcentaje</span>
            <span class="stat-value">{{ formatearNumero(getPorcentajePorEcografista(), 0) }}%</span>
          </div>
          <div class="stat-card">
            <span class="stat-label">Monto total</span>
            <span class="stat-value">${{ formatearNumero(porcentajePorEcografista, 2) }}</span>
          </div>
        </div>
      </div>



      <div class="report-table-section">
        <label class="report-table-title">ECOGRAFIAS REPORTADAS</label>
        <div class="table-scroll-container">

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table report-table">
            <ng-container matColumnDef="nombreEcografista">
              <th class="fonta" mat-header-cell *matHeaderCellDef>ECOGRAFISTA</th>
              <td class="new-font" mat-cell *matCellDef="let element">{{element.nombreEcografista}}</td>
            </ng-container>
            <ng-container matColumnDef="fecha">
              <th class="fonta" mat-header-cell *matHeaderCellDef>FECHA</th>
              <td class="new-font" mat-cell *matCellDef="let element">{{element.fecha}}</td>
            </ng-container>
            <ng-container matColumnDef="monto">
              <th class="fonta" mat-header-cell *matHeaderCellDef>MONTO</th>
              <td class="new-font" mat-cell *matCellDef="let element">{{element.monto}}</td>
            </ng-container>
            <ng-container matColumnDef="metodoPago">
              <th class="fonta" mat-header-cell *matHeaderCellDef>METODO PAGO</th>
              <td class="new-font" mat-cell *matCellDef="let element">{{element.metodoPago}}</td>
            </ng-container>
            <ng-container matColumnDef="apellido">
              <th class="fonta" mat-header-cell *matHeaderCellDef>APELLIDO DUEÑO</th>
              <td class="new-font" mat-cell *matCellDef="let element">{{element.apellido}}</td>
            </ng-container>
            <ng-container matColumnDef="nombreMascota">
              <th class="fonta" mat-header-cell *matHeaderCellDef>MASCOTA</th>
              <td class="new-font" mat-cell *matCellDef="let element">{{element.nombreMascota}}</td>
            </ng-container>
            <ng-container matColumnDef="estadoInforme">
              <th class="fonta" mat-header-cell *matHeaderCellDef>ESTADO INFORME</th>
              <td class="new-font" mat-cell *matCellDef="let element">{{element.estadoInforme}}</td>
            </ng-container>
            <ng-container matColumnDef="derivante">
              <th class="fonta" mat-header-cell *matHeaderCellDef>DERIVANTE</th>
              <td class="new-font" mat-cell *matCellDef="let element">{{element.derivante}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr
                mat-row
                [class.demo-row-is-clicked]="clickedRows.has(row)"
                *matRowDef="let row; columns: displayedColumns;"
            ></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


