
<div style="background-color: rebeccapurple;color: white;">
  <div style="border:1px solid #1315AE;margin:20px;border-radius: 15px;background-color: #1315AE;"  >
    <div style="display: flex;margin:5px">
      <div>
        <div class="font item-filter">Año</div>
        <input class="input-control font" [(ngModel)]="anio">
      </div>
      <div>
        <div class="font item-filter">Mes</div>
        <input class="input-control font" [(ngModel)]="mes" >
      </div>
      <!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{placeHolder}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button *ngFor="let quincena of quincenas " (click)="seleccionQuincena(quincena)" class="dropdown-item" type="button">{{quincena}}</button>
        </div>
      </div> -->
      <div>
        <div class="font item-filter">
          <div class="dropdown"  style="background-color: transparent;">
            <button class="btn btn-secondary dropdown-toggle"  style="background-color: transparent;color: white ;  font-weight: bold;" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{getNombreEcografista()}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button *ngFor="let ecografista of ecografistas " (click)="seleccionEcorafista(ecografista)"  style="color: black ;  font-weight: bold;" class="dropdown-item" type="button">{{ecografista}}</button>
            </div>
          </div>
        </div>
        <input disabled="true" class="input-control font"  [(ngModel)]="ecografista">
      </div>
      <div style="display: flex;align-items: center;    margin: 0 5px;">
        <button type="button" class="btn btn-primary" (click)="generarReportes()">Filtrar</button>
      </div>
    </div>
  </div>
  <div>

    <div style="display: flex;font-size: 25px;">

      <div style="margin: 20px;
      background-color: #1315AE;
      border-radius: 20px;color: white;display: inline;
      text-align: center;    width: 100%;    margin-top: 0px;">
        <label style="font-weight: bold;"> REPORTE {{ mesParaMuestra}}</label>
        <div style="margin:10px;display: grid;">
          <label>Cantidad ecografias</label>
          <label>{{getCantidadTotal(1)}}</label>
        </div>
        <div style="margin:10px">
          <label>Porcentajes</label>
          <div style="display: flex;">
            <label style="margin-right: 15px;width: 50%;    text-align: center;">{{getPorcentajePorEcografista()}}</label>
            <div  style="width: 50%;    text-align: center;">${{porcentajePorEcografista}}</div>
          </div>
          <!-- <div style="display: flex;">
            <label style="margin-right: 15px;width: 50%;    text-align: center;">40%</label>
            <div  style="width: 50%;    text-align: center;">${{getPorcentaje(0.4,1)}}</div>
          </div> -->
        </div>

      </div>
    </div>
    <div style="font-size: 25px;border: 1px solid  #1315AE; background-color:  white;margin: 20px;">
      <label style="width: 100%;text-align: center;font-weight: bold;color: #ED7180;">ECOGRAFIAS REPORTADAS</label>
      <div style="margin: 20px;
      background-color: white;
      border-radius: 20px;color: white;display: inline;
      text-align: center;    width: 100%;    margin-top: 0px;">

        <table style="background-color:  white !important; color: white;" mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table ">

          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let element">{{element.fecha}}</td>
          </ng-container>
          <ng-container matColumnDef="nombreEcografista">
            <th mat-header-cell *matHeaderCellDef>Nombre ecografista</th>
            <td mat-cell *matCellDef="let element">{{element.nombreEcografista}}</td>
          </ng-container>
          <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef>Apellido dueño</th>
            <td mat-cell *matCellDef="let element">{{element.apellido}}</td>
          </ng-container>
          <ng-container matColumnDef="nombreDuenio">
            <th mat-header-cell *matHeaderCellDef>Nombre dueño</th>
            <td mat-cell *matCellDef="let element">{{element.nombreDuenio}}</td>
          </ng-container>
          <ng-container matColumnDef="nombreMascota">
            <th mat-header-cell *matHeaderCellDef>Nombre mascota</th>
            <td mat-cell *matCellDef="let element">{{element.nombreMascota}}</td>
          </ng-container>
          <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef>Tipo</th>
            <td mat-cell *matCellDef="let element">{{element.tipo}}</td>
          </ng-container>
          <ng-container matColumnDef="monto">
            <th mat-header-cell *matHeaderCellDef>Monto</th>
            <td mat-cell *matCellDef="let element">{{element.monto}}</td>
          </ng-container>
          <ng-container matColumnDef="metodoPago">
            <th mat-header-cell *matHeaderCellDef>Metodo pago</th>
            <td mat-cell *matCellDef="let element">{{element.metodoPago}}</td>
          </ng-container>
          <ng-container matColumnDef="realizada">
            <th mat-header-cell *matHeaderCellDef>Realizada</th>
            <td mat-cell *matCellDef="let element">{{element.realizada}}</td>
          </ng-container>
          <ng-container matColumnDef="estadoInforme">
            <th mat-header-cell *matHeaderCellDef>Estado informe</th>
            <td mat-cell *matCellDef="let element">{{element.estadoInforme}}</td>
          </ng-container>
          <ng-container matColumnDef="derivante">
            <th mat-header-cell *matHeaderCellDef>Derivante</th>
            <td mat-cell *matCellDef="let element">{{element.derivante}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
              mat-row
              (click)="modificarRow(row)"
              [class.demo-row-is-clicked]="clickedRows.has(row)"
              *matRowDef="let row; columns: displayedColumns;"
          ></tr>
        </table>
      </div>
    </div>
  </div>

</div>
