
<div style="background-color: rebeccapurple;color: white;">
  <div style="border:1px solid #8b8e93;margin:20px;border-radius: 15px;background-color: #8b8e93;"  >
    <div style="display: flex;margin:5px">
      <div>
        <div class="font item-filter">Año</div>
        <input class="input-control font" [(ngModel)]="anio">
      </div>
      <div>
        <div class="font item-filter">Mes</div>
        <input class="input-control font" [(ngModel)]="mes" >
      </div>
      <!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{placeHolder}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button *ngFor="let quincena of quincenas " (click)="seleccionQuincena(quincena)" class="dropdown-item" type="button">{{quincena}}</button>
        </div>
      </div> -->
      <div>
        <div class="font item-filter">Ecografista</div>
        <input class="input-control font"  [(ngModel)]="ecografista">
      </div>
      <div style="display: flex;align-items: center;">
        <button type="button" class="btn btn-primary" (click)="generarReportes()">Filtrar</button>
      </div>
    </div>
  </div>
  <div style="display: flex;font-size: 25px;">

    <div style="margin: 20px;
    background-color: #8b8e93;
    border-radius: 20px;color: white;display: inline;
    text-align: center;    width: 50%;    margin-top: 0px;">
      <label style="text-decoration: underline;font-weight: bold;">1RA QUINCENA</label>
      <div style="margin:10px;display: grid;">
        <label>Cantidad ecografias</label>
        <label>{{getCantidadTotal(1)}}</label>
      </div>
      <div style="margin:10px">
        <label>Porcentajes</label>
        <div style="display: flex;">
          <label style="margin-right: 15px;width: 50%;    text-align: center;">20%</label>
          <div  style="width: 50%;    text-align: center;">${{getPorcentaje(0.2,1)}}</div>
        </div>
        <div style="display: flex;">
          <label style="margin-right: 15px;width: 50%;    text-align: center;">40%</label>
          <div  style="width: 50%;    text-align: center;">${{getPorcentaje(0.4,1)}}</div>
        </div>
      </div>

    </div>
    <div style="margin: 20px;
    background-color: #8b8e93;
    border-radius: 20px;color: white;display: inline;
    text-align: center;    width: 50%;    margin-top: 0px;" >
      <label  style="text-decoration: underline;font-weight: bold;">2DA QUINCENA</label>
      <div style="margin:10px;display: grid;">
        <label>Cantidad ecografias</label>
        <label>{{getCantidadTotal(2)}}</label>
      </div>
      <div style="margin:10px;width: 100%;">
        <label>Porcentajes</label>
        <div style="display: flex;">
          <label style="margin-right: 15px;width: 50%;    text-align: center;">20%</label>
          <div style="width: 50%;    text-align: center;">${{getPorcentaje(0.2,2)}}</div>
        </div>
        <div style="display: flex;width: 100%;">
          <label style="margin-right: 15px;width: 50%;    text-align: center;">40%</label>
          <div style="width: 50%;    text-align: center;">${{getPorcentaje(0.4,2)}}</div>
        </div>
      </div>

    </div>
  </div>

</div>
