<nav class="navbar navbar-expand-lg bg-body-tertiary"style="background-color: #1315AE !important;
">
  <div class="container-fluid">
    <a class="navbar-brand" href=""  style="color: white;">EcoVet</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active"  style="color: white;margin-left: 5px;" aria-current="page" href="#"><i class="fa-solid fa-house"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer; color: white;" (click)="cargarEcografia()">
            <i class="fa-solid fa-circle-plus"></i>
            Nueva ecografia </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer; color: white;" (click)="mostrarReportes()">
            <i class="fa-solid fa-circle-plus"></i>
            Reportes </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<ng-template #cargaEcografia>
  <app-carga-ecografias [parent]="this"(actulizarListadoEcos)="actualizarListado($event)"></app-carga-ecografias>
</ng-template>
