

.nav-bar{
    width: 100%;
    height: 30px;
}

.item{
    font-family: 'Montserrat';
    font-size: 22px;
    margin: 5px 5%;
    cursor:pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .3s ease;
  z-index: -1;
  background: #000;
}

.overlay.active {
  opacity: 0.5;
  z-index: 2;
}

.modal {
  color: #fff;
  background: #000;
  max-height: calc(100% - 100px);
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 450px;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: .3s ease;
}

.modal.active {
  visibility: visible;
  z-index: 2;
  opacity: 1;
}
:root.modal-content{
  margin-left: 25%;
  width: 50%;
}
