<div *ngIf="!mostrarLogin" class="general" style="background-color: rebeccapurple;" >
  <app-nav-bar *ngIf="muestraMenu===0 || muestraMenu === 1" [parent]="this"(ocultarListado)="vistaListado($event)" [muestraMenu]="muestraMenu" (actulizarListadoEcos)="actualizarListado($event)"></app-nav-bar>
  <router-outlet></router-outlet>
</div>
<div *ngIf="mostrarLogin" style="background-color: rebeccapurple;width:100%;height:100%">
  <app-login [viewAlert]="false" (vistaCargaOReportes)="evaluarVistaMenu($event)" (vistaLogin)="vistaLogin()" ></app-login>
</div>
