

.nav-bar{
    width: 100%;
    height: 30px;
}

.item{
    font-family: 'Montserrat';
    font-size: 22px;
}

:root ::ng-deep mat-mdc-row{
  height: 25px !important;
}

:root ::ng-deep body {
  overflow: hidden;
}
