
  <div style="background-color:#ffffff">
    <div style="height: 70px !important; background-color: #D4D4D4;text-align: center;color:#ED7180;align-items: center ;text-align: center ;vertical-align: middle;display: flex;font-size: 30px;margin-bottom: 10px;"  class="font">
      <div style="display: flex;    width: 100%;">
        <div style="height: 20%;">
          <img (click)="cancelarCarga()" style="cursor:pointer;margin-left: 10px;" src="https://cdn-icons-png.flaticon.com/128/10486/10486494.png" data-src="https://cdn-icons-png.flaticon.com/128/10486/10486494.png" width="50" height="50" class="lzy lazyload--done" srcset="https://cdn-icons-png.flaticon.com/128/10486/10486494.png 4x">
        </div>
        <div style="height: 100%;align-items: center;text-align: left;display: grid; width: 80%;margin-left: 20px;">
          Actualizacion Ecografia
        </div>
      </div>
    </div>
  <div class="input-container" style="  color: #191919;">
    <div  class="item-container font" style="display: flex;justify-content: space-between;">Fecha</div>
    <input  class="input-data input-font-control" [(ngModel)]="fecha" type="date">
  </div>
    <div class="input-container">
      <div class="item-container font">Apellido dueño</div>
      <input  class="input-data input-font-control" [(ngModel)]="apellido" type="text">
    </div>
    <div class="input-container">
      <div  class="item-container font">ID </div>
      <input  onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="input-data input-font-control" [(ngModel)]="id" type="text">
    </div>
    <div class="input-container">
      <div class="item-container font">Nombre mascota</div>
      <input  class="input-data input-font-control" [(ngModel)]="nombreMascota" type="text">
    </div>
    <div class="input-container">
      <div class="item-container font">Derivante</div>
      <input  class="input-data input-font-control" [(ngModel)]="derivante" type="text">
    </div>
    <div style="width: 100%;">
      <div class="input-container">
        <div class="item-container font">Tipo Ecografia</div>
          <input class="input-data input-font-control" [(ngModel)]="tipoEcografia" type="text">
      </div>
      <div class="input-container">
        <div  class="item-container font">
          <div class="dropdown"  style="background-color: transparent;">
            <button class="btn btn-secondary dropdown-toggle"  style="padding: 0px;border:none;background-color: transparent; color: #191919;  font-weight: bold;border-color: #ED7180" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{getNombreEcografista()}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button *ngFor="let ecografista of ecografistas " (click)="seleccionEcorafista(ecografista)"  style="color: #191919;" class="dropdown-item" type="button">{{ecografista}}</button>
            </div>
          </div>
        </div>
        <input disabled="true" class="input-data input-font-control" [(ngModel)]="nombreEcografista" type="text">
      </div>
      <div class="input-container">
        <div class="item-container font">Informe</div>
        <input  class="input-data input-font-control" [(ngModel)]="estadoInforme" type="text">
      </div>
      <div class="input-container" *ngIf="metodoPago!=='Otro'">
        <div  class="item-container font">Monto </div>
        <input onkeypress='return event.charCode >= 48 && event.charCode <= 57'  class="input-data input-font-control" [(ngModel)]="monto" type="text">
      </div>
      <div class="input-container" *ngIf="metodoPago==='Otro'">
        <div  class="item-container font">Monto EF</div>
        <input  onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="input-data input-font-control" [(ngModel)]="montoEF" type="text">
      </div>
      <div class="input-container" *ngIf="metodoPago==='Otro'">
        <div  class="item-container font">Monto DEB</div>
        <input onkeypress='return event.charCode >= 48 && event.charCode <= 57'  class="input-data input-font-control" [(ngModel)]="montoDEB" type="text">
      </div>
      <div class="input-container" *ngIf="metodoPago==='Otro'">
        <div  class="item-container font">Monto CRED</div>
        <input  onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="input-data input-font-control" [(ngModel)]="montoCRED" type="text">
      </div>
      <div class="input-container" *ngIf="metodoPago==='Otro'">
        <div  class="item-container font">Monto TR</div>
        <input  onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="input-data input-font-control" [(ngModel)]="montoTR" type="text">
      </div>


      <div class="input-container">
        <div  class="item-container font">
          <div class="dropdown"  style="background-color: transparent;">
            <button class="btn btn-secondary dropdown-toggle"  style="padding: 0px;border:none;background-color: transparent; color: #191919;  font-weight: bold;border-color: #ED7180" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Caso Especial
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button *ngFor="let resp of respCasoEsp " (click)="seleccionCasoEspecial(resp)"  style="color: #191919;" class="dropdown-item" type="button">{{resp}}</button>
            </div>
          </div>
        </div>
        <input disabled="true" class="input-data input-font-control" [(ngModel)]="casoEspecial" type="text">
      </div>
      <div class="input-container">
        <div  class="item-container font">Observaciones</div>
        <input   class="input-data input-font-control" [(ngModel)]="observaciones" type="text">
      </div>
      <div class="input-container">
        <div  class="item-container font">
          <div class="dropdown"  style="background-color: transparent;">
            <button class="btn btn-secondary dropdown-toggle"  style="background-color: transparent; color: #191919;  font-weight: bold; border:none;padding: 0px;" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Fuera de Hora
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button *ngFor="let resp of respEcoHoraExtra " (click)="seleccionHoraExtra(resp)"  style="color: #191919;" class="dropdown-item" type="button">{{resp}}</button>
            </div>
          </div>
        </div>
        <input disabled="true" class="input-data input-font-control" [(ngModel)]="ecoHoraExtra" type="text">
      </div>
    <div class="input-container">
      <div  class="item-container font">
        <div class="dropdown"   style="background-color: transparent; ;">
          <button class="btn btn-secondary dropdown-toggle"  style="padding: 0px;border:none;background-color: transparent; color: #191919;  font-weight: bold;border-color: #ED7180;" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{getMetodoPago()}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button *ngFor="let metodoPago of metodosPago " (click)="seleccionMetodoPago(metodoPago)" class="dropdown-item" type="button">{{metodoPago}}</button>
          </div>
        </div>
      </div>
      <input disabled="true" class="input-data input-font-control" [(ngModel)]="metodoPago" type="text">
    </div>
  </div>
  <div style="display:flex;width: 100%; align-items: center;margin-top: 5%;">
    <div style="width: 50%;display: flex; justify-content: center;">
      <button class="btn btn-danger margin" style=" display: flex;   justify-content: center;" (click)="eliminarEcografiaPopUp()">
        <div >
          <svg style="margin-bottom: 5%;margin-right: 5px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
          </svg>
        </div>
        <div>
          Eliminar
        </div>
      </button>
    </div>
    <div style="width: 50%;display: flex; justify-content: center;">
      <button class="btn btn-success margin" (click)="actualizarEcografia()" style="background-color: #ED7180;border: 1px solid #ED7180;">Actualizar</button>
    </div>
  </div>
</div>
<ng-template #eliminarEco style="background-color:#ffffff">
  <div style="background-color:#ffffff">
    <div style="background-color:#ffffff">
        <div style="     border-bottom: 0px solid #B7B0B0;text-align: center;color:#ED7180;height: 100px;align-items: center ;text-align: center ;vertical-align: middle;display: flex;font-size: 35px;"  class="font">
          <div style="    height: 100%;
          width: 100%;
          margin-top: 50px;;">
            Se esta por eliminar la ecografia de {{this.nombreMascota}}
          </div>
        </div>
        </div>
        <div style="display:flex;width: 100%; align-items: center;    margin-top: 5%;justify-content: space-around;
        color: black;background-color:#ffffff">
        <div style="width: 200px;">
          <button class="btn btn-danger margin" (click)="cancelarCarga()">Cancelar</button>
        </div>
        <div  style="width: 200px;">
          <button   class="btn btn-success margin" (click)="eliminarEcografia()">Eliminar</button>
        </div>
        </div>
  </div>
</ng-template>
